# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables
.env

# Production build
/build

# Temporary files
*.tmp
*.swp

# MacOS
.DS_Store

# Windows
Thumbs.db

# IDE
.vscode/
.idea/
*.iml
